<!--The content below is only a placeholder and can be replaced.-->
<div class="row text-center mt-5">
	<div class="col">
		<h1>Contador</h1>
		<h2>{{ contador }}</h2>
	</div>
</div>

<div class="row text-center my-5">
	<div class="col">
		<button (click)="incrementar()" class="btn btn-primary mr-3">Incrementar</button>
		<button (click)="decrementar()" class="btn btn-info">Decrementar</button>
	</div>
</div>

<hr>

<div class="row text-center my-5">
	<div class="col">
		<app-hijo></app-hijo>
	</div>
</div>